# Jupyter Notebook Checkpoints
.ipynb_checkpoints
**/ .ipynb_checkpoints/**

# Python and Anaconda cache files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.ruff_cache/

# Anaconda environment files (optional if local)
.conda/
